/**
 * @Author: hqwx.com
 * @Date: 2024-07-04 21:34:17
 * @LastEditors: WRG(woter_wang@live.com)
 * @LastEditTime: 2024-07-06 17:21:09
 * @😍: 😃😃
 */
$black : #000;
$black_01: #111;
$black_02: #222;
$black_03: #3333;

$white : #fff;
$white_01: #E9EBEC;

$pink : #E03673;

$gray : #979797;
$gray_01: #9CA3AF;
$gray_02: #D1D5DB;

$blue: #1773C9;

$gold : #E5C391;

$purple : #7B2AFF;
$purple_1 : #9E85FF;

$green : #50CD89;