/**
 * @Author: hqwx.com
 * @Date: 2024-07-04 21:34:17
 * @LastEditors: WRG(woter_wang@live.com)
 * @LastEditTime: 2024-07-04 21:42:46
 * @😍: 😃😃
 */
$balck : #000;
$balck_01: #333;

$white : #fff;
$white_01: #E9EBEC;

$pink : #E03673;

$gray : #979797;

$gold : #E5C391;

$purple : #7B2AFF;